// variables
$navbar_footer_bgcolor: rgb(46, 76, 107);
$content_width: 70%;
$toc_container_border: rgb(218, 218, 218);
$toc_container_border_bottom: rgb(241, 241, 241);
$toc_container_width:200px;

* {
  box-sizing: border-box;
  font-family: ’Lato’, sans-serif;
  margin: 0;
  padding: 0;
}

// end of general


body {
  min-height: 100vh;

}

// end of main

.navbar {

  display: flex;
  justify-content: space-between;

  align-items: center;
  min-height: 10vh;
  background: $navbar_footer_bgcolor;
  color: white;

  #logo {
    margin-left: 8%;
  }

  #links-list {
    list-style-type: none;
    width: 30%;
    display: flex;
    // justify-self: start;
    justify-content: space-around;
    align-items: center;



  }

  .nav-links {
    color: white;
    text-decoration: none;
    text-decoration: none !important;
  }


}

// end of navbar


.tutorial-page {
  display: grid;
  grid-template-columns: 400px repeat(auto-fit, 80%);
  column-gap: 15px;
  row-gap: 15px;
  grid-template-rows: 1fr;

  .table-of-content-container {

    border: 2px solid $toc_container_border;
    margin-top: 20%;

    .toc-Links {
      list-style-type: none !important;
      width: 50%;
      margin-left: 110px;
      padding: 7px;

      .topic-button {
        cursor: pointer;
        background-color: white;
        color: rgb(39, 67, 77);
        font-size: 20px;
        border: none;
        transition: 0.4s;
      }

      .topic-button:focus {
        outline: 0;
        color: rgb(1, 128, 167);
      }

      // .topic-button:active {}

      .topic-button:hover {
        padding-left: 10px;
        font-size: 24px;
      }
    }

  }


  .main-content-container {
    margin-left: 100px;

    .content {
      margin-top: 10%;
      width: 80%;

      code {

        padding-right: 7px;
        padding-left: 7px;

        color: white !important;
        background-color: black !important;
      }
    }

  }

}

// end of tutorial page


.footer {
  height: 70px;
  background-color: $navbar_footer_bgcolor;
  position: fixed;
  width: 100%;
  text-align: left;

  bottom: 0;



  #copyright {
    font-weight: 400;
    font-size: 30px;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    padding-left: 100px;
    padding-top: 10px;
  }
}

// end of footer